{% capture currentDate %}{{ site.time | date: '%s' }}{% endcapture %}
{% capture futureDate %}{{ page.release_date | date: '%F' | date: '%s' }}{% endcapture %}
{% assign diff = futureDate | minus: currentDate %}
{% assign daydiff = diff |  divided_by: 60 | divided_by: 60 | divided_by: 24  %}
Release datum:
<b> {{ page.release_date }} (Vrijdag 7 Augustus 2020)</b><br>
Na verschillende maanden van uitstel, gelukkig toch geen afstel.<br>
<b style="color:red; font-size:xx-large">{{ daydiff }} </b> dagen tot de release van de eerste podcast.
